@tailwind base;
@tailwind components;
@tailwind utilities;

a.l {
    @apply text-blue-500 cursor-pointer hover:text-blue-700;
}

span.pre {
    @apply bg-gray-300 font-mono px-1;
}

a.truncate-dependencies {
    @apply max-w-[100px] truncate inline-block;
}